{% extends '_layout' %}

{% block content %}

  <h1>Hello from Twig!</h1>

  <p>site name: {{ siteName }}</p>

  <p>site url: {{ siteUrl }}</p>

  <p>system name: {{ systemName }}</p>

  <p>craft session: {{ craft.app.session.count }}</p>

  <p>Today is {{ now | date }}!</p>

  <p>Lang = {{ craft.app.language }}</p>

  <div class="text">
  </div>
  
  <ul>
    {% for color in colors | sort %}
      {# Let’s stylize each item using some inline CSS: #}
      <li style="color: {{ color }}">
        {# The color is capitalized for display: #}
        {{ color | title }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}